.table{ 
    background-color: #00BFFF ;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor1{ 
    background-color: #87CEFA;
    color: #F5F5DC;
}
.cor2{ 
    background-color: lightpink;
    color: #F5F5DC;
    border-style: solid ;
    border-color: whitesmoke;
}
.cor3{ 
    background-color: lightpink;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    
}
.table2{ 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DC143C;
    color: beige;
    box-shadow: 10px 10px gray;
}
.cor4{
    background-color: #F08080;
    color: beige;
}
.cor5{
    color: beige;
    border-color: beige;
    border-style: solid;
    background-color: #FF7F50;
}
.cor6{
    color: beige;
    border-color: beige;
    border-style: solid;
    background-color: #FF7F50;
}
.table3{ 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006400;
    color: beige;
    box-shadow: 10px 10px gray;
}
.cor7{
    background-color: #32CD32;
}
.cor8{
    border-color: beige;
    border-style: solid;
    background-color: #DAA520;
    color: beige;
}
.table4{ 
    background-color: #C71585 ;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor9{
    background-color: #FF69B4;
}
.cor10{
    border-color: #F5F5DC;
    border-style: solid;
    color: #F5F5DC;
    background-color: #8B008B;
}
.table5{
    background-color: #FF4500 ;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor11{
    background-color: #FFA500;
}
.cor12{
    border-style: solid;
    border-color: #F5F5DC;
    background-color:  #B22222;
    color: #F5F5DC;
}
.table6{
    background-color: #8B4513 ;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor13{
    background-color: #D2691E;
}
.cor14{
    border-color: #F5F5DC;
    border-style: solid;
    background-color: #DAA520;
    color: #F5F5DC;
}
.table7{
    background-color:#4B0082;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor15{
    background-color: #BA55D3;
}
.cor16{
    border-style: solid;
    border-color: #F5F5DC;
    background-color: #FF1493;
    color: #F5F5DC;
}
.table8{
    background-color:#008080;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor17{
    background-color: #66CDAA;
}
.cor18{
    border-style: solid;
    border-color: #F5F5DC;
    background-color: #3CB371;
    color: #F5F5DC;
}
.table9{
    background-color:#4F4F4F;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}   
.cor19{
    background-color: #C0C0C0;
}
.cor20{
    border-style: solid;
    border-color: #F5F5DC;
    background-color: #000000;
    color: #F5F5DC;
}
.table10{
    background-color:#191970;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor21{
    background-color: #00BFFF;
}
.cor22{
    background-color: #4682B4;
    border-color: #F5F5DC ;
    border-style: solid;
    color: #F5F5DC;
}
.table11{
    background-color:#556B2F;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor23{
    background-color: #32CD32;
}
.cor24{
    background-color: #D2691E;
    border-color: #F5F5DC;
    border-style: solid;
    color: #F5F5DC;
}
.table12{
    background-color:#FF00FF;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor25{
    background-color: #FFB6C1;
}
.cor26{
    background-color: #C71585;
    border-color: #F5F5DC;
    border-style: solid;
    color: #F5F5DC;
}
.table13{
    background-color:	#483D8B;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor27{
    background-color: #836FFF;
}
.cor28{
    border-color: #F5F5DC;
    border-style: solid;
    color: #F5F5DC;
    background-color: 	#A020F0;
}
.table14{
    background-color:	#FF8C00;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px gray;
}
.cor29{
    background-color: #FFD700;
}
.cor30{
    border-color: #F5F5DC;
    border-style: solid;
    color: #F5F5DC;
    background-color: #8B0000;
}
